#maindiv{
    background-color: orange;
}
#content{
    background-color: rgb(255, 255, 255);
    height: 150px;
}
#staring{
    color: white;
}
.card:hover{

    box-shadow: 12px 10px 12px rgb(182, 180, 180);
    transition: 0.5s;
    
}
#raffaycardcontainer{
    display: flex;
    justify-content: center;
   
}
.raffaycard{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin: 2px;
    border-radius: 8px;
}
.raffaycard:hover{

    box-shadow: 12px 10px 12px rgb(182, 180, 180);
    transition: 0.5s;
    
}
::-webkit-scrollbar{
    width: 14px;
}
::-webkit-scrollbar-thumb{
   
    background-color: rgb(211, 211, 211);
    border-radius: 12px;
   
}
::-webkit-scrollbar-track{
    background-color: orange;
    border-radius: 12px;
}

.rounditems img{
    border-radius: 60%;
    height: 200px !important;
    width: 200px !important;
}
.rounditems img:hover{
   border: 2px solid rgb(255, 255, 255);
   box-shadow: 12px 12px 12px rgb(189, 189, 189);
   transition: 0.5s;
}